.card
{
    margin: 5px;
    height: 250px;
    width: 170px;
    border: solid black;
    display: inline-block;
    background-color: white;
    position: relative;
    box-shadow: 2px 2px;
}

.cardnumber
{
    height: 10%;
    margin: 0;
}

.bottom
{
    text-align: right;
}

.suitsign
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    font-size: 48pt;
}